body {
    color: #777;
    background-color: #F1F1F1;
}

a:link { color: #777; text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { color: #777; }

h1 a:link { text-decoration: none; }

#navpane {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 200px;
    background-color: #F1F1F1;
    border-right: 1px solid #DDD;
    -moz-box-shadow: 0px 0px 10px #888;
    -webkit-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
    z-index: 1;
}

#navheader {
    width: 100%;
    height: 200px;
    background-image: url('../img/morlunk_logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

a.navitem {
    position: relative;
    left: 0px;
    right: 0px;
    height: 30px;
    padding: 5px;
    padding-left: 10px;
    font-size: 12pt;
    line-height: 30px;
    font-variant: small-caps;
    font-family: "Roboto-Light", Sans, Arial;
    border-top: 1px solid #DDD;
    display: block;
}

#content {
    position: absolute;
    top: 0px;
    left: 200px;
    right: 0px;
    min-height: 100%;

    padding: 25px;

    font-family: "Roboto-Light", Sans, Arial;
    font-size: 11pt;
}

#loginbox {
    position: relative;
    width: 270px;
    height: auto;
    padding: 20px;

    background-color: #F1F1F1;

    border: 1px solid #DDD;
    float: left;
}

.controlpane {
    position: relative;
    width: 250px;
    height: auto;
    /*height: 50px; Starts contracted with only title showing, expands on hover */
    float: left;
    overflow: hidden;

    padding: 20px;
    margin: 20px;

    background-color: #F7F7F7;
    border: 1px solid #DDD;

    display: block;
}

.panebanner {
    position: relative;
    width: 100%;
    height: 50px;

    background-position: center;
    background-repeat: no-repeat;
}

.centerpane {
    position: relative;
    left: 0px;
    right: 0px;
    min-width: 512px;
    height: auto;
    margin: 20px;
    padding: 20px;
    
    background-color: #F7F7F7;
    border: 1px solid #DDD;
}

/* Minecraft Paoso Value Divs */

.mineitem {
    width: 256px;
    height: 36px;
    line-height: 36px;

    display: inline-block;

    margin: 10px;
    padding: 20px;
    background-color: #F5F5F5;
    border: 1px solid #DDD;
}

.mineitem.buy {
    height: auto;
    line-height: auto;
}

input {
    height: 30px;
    font-family: "Roboto-Light", "Arial", sans-serif;
    font-size: 16pt;
    background: -moz-linear-gradient(
        top,
        #ffffff 0%,
        #f3f3f3);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#ffffff),
        to(#f3f3f3));
    border: 1px solid #DDD;
}

textarea {
    width: 100%; /* Hack to make the text area appear on a second line in forms. */
    font-family: "Roboto-Light", "Arial", sans-serif;
    font-size: 16pt;
    background: -moz-linear-gradient(
        top,
        #ffffff 0%,
        #f3f3f3);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#ffffff),
        to(#f3f3f3));
    border: 1px solid #DDD;
}

input[type="submit"] {
    font-size: 11pt; /* Buttons will have smaller text than fields. */
}

@font-face {
    font-family: "Roboto-Light";
    src: url("Roboto-Light.ttf");
}
