{% extends 'base.html' %}
{% block title %}Mumble Radio{% endblock %}
{% block content %}

<script type="text/javascript">

function startQueue() {
	$.get('/radio/start');
}

function stopQueue() {
	$.get('/radio/stop');
}

function skip() {
	$.get('/radio/skip');
}

function addToQueue() {
	var video_id = $("#videoId").val();
	addIdToQueue(video_id);
}

function addIdToQueue(video_id) {
	$.get('/radio/queue',
		{
			'video_id': video_id
		}
	).success(function(data) {
    	var response = jQuery.parseJSON(data);
        if(response.result == "success") {
            $().toastmessage('showSuccessToast', "Success! Your song has been queued.");
        	$("ol[id='queue']").append("<li><a href=\"http://www.youtube.com/watch?v="+video_id+"\"></a>"+response.video_title+"</li>");
        	$("#videoId").val("");
        } else if(response.result == "invalid_request") {
            $().toastmessage('showWarningToast', "Invalid request! Try resubmitting.");
        } else {
            $().toastmessage('showErrorToast', "Server error! Song not added to queue.")
        }
	});
}

</script>

<h1>Morlunk Mumble Radio Alpha</h1>
{% if user.is_staff %}
<h3>Admin Controls</h3>
<button onclick="startQueue()">Play</button><button onclick="stopQueue()">Stop</button><br><br>
{% endif %}
Radio status: <b>{% if playing %}Online{% else %}Offline{% endif %}</b><br><br>
{% if playing %}
Currently Playing: <b><a href="http://www.youtube.com/watch?v={{ queue.0.video_id }}">{{ queue.0.user_title }}</a></b> <i><a href="javascript:void(0)" onclick="skip()"/>(skip)</a></i><br>
{% else %}
Nothing is playing. <u><a href="/radio/random/">Click to queue 5 previously played songs.</a></u><br><br>
{% endif %}
<div class="controlpane">
<h3>Queued Items</h3>
<ol id="queue">
	{% for item in queue %}
	<li><a href="http://www.youtube.com/watch?v={{ item.video_id }}">{{ item.user_title }}</a></li>
	{% endfor %}
</ol>
</div>
<div class="controlpane">
<h3>Recently Played</h3>
<i>Click to add to queue</i>
<ol id="recent">
	{% for item in recent %}
	<li>
		<a href="javascript:void(0)" onclick="addIdToQueue('{{ item.video_id }}')">{{ item.user_title }}</a>
	</li>
	{% endfor %}
</ol>
</div>
<div class="controlpane">
<h3>Add Item</h3>
Youtube Video ID:<br>
<input type="text" id="videoId" maxlength="20" style="width: 100%;"/><br><br>
<button onclick="addToQueue()">Submit</button>
</div>
{% endblock %}