{% extends 'base.html' %}
{% block title %}Minecraft Store{% endblock %}
{% block caption %}MineNow- 290 bucks!{% endblock %}
{% block content %}
	<h1>Morlunk Co. Paoso Store</h1>
	Redeem your paosos for in-game items! Remember to recycle your items by using the Morlunk Co. Paoso Converter later.<br><br>
	Current Paoso balance: <b>{{ minecraft_account.paosos }}</b> Paosos<br><br>
	{% if response %}
	<b>{{ response }}</b><br><br>
	{% endif %}
	<center>
	{% for item in minecraft_items %}
		<div class="mineitem buy">
			<div style="width: 64px; height: 64px; background-image: url('{{ MEDIA_URL }}{{ item.icon }}'); background-size: 64px auto; background-position: center; background-repeat: no-repeat;"></div> <!-- TODO MAKE THIS ITS OWN CLASS -->
			<b>{{ item.name }}</b><br>
				<select name="amount"> <!-- Heh, this isn't considered at all currently. -->
					<option>{{ item.buy_sell_quantity }} for {{ item.buy_value }} paosos</option>
				</select><br>
				<button onclick="buyItem({{ item.id }});">Buy Now</button>
			</form>
		</div>
	{% endfor %}
	</center>
{% endblock %}
