<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Morlunk Co. - {% block title %}Page{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/stylesheet.css"/>
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" />
	    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.toastmessage.css"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.toastmessage.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/morlunk_common.js"></script>
        <!-- Sharing code -->
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    </head>
    <body>

        <div id="banner">
            <img src="{{ STATIC_URL }}img/morlunk_logo.png" alt="logo" style="float: left"/>
            <div class="bannertext">
                morlunk co.
                <div class="bannercaption">
                    {% block caption %}official sponsor of the 2012 chwollympics{% endblock %}
                </div>
            </div>

            {% if user.is_authenticated %}
            <div id="logininfo">
                Logged in as <b>{{ user.username }}</b>
            </div>
            {% endif %}

            <div id="bannermenu">
                <a class="bannerlink" href="/">BLOG</a> 
                <a class="bannerlink" href="/page/minecraft/">MINECRAFT</a> 
                <a class="bannerlink" href="/page/android/">ANDROID</a> 
                <a class="bannerlink" href="/page/community/">COMMUNITY</a> 
                <a class="bannerlink" href="/page/app/">APP</a>
                <div style="position: absolute; top: 0px; right: 0px;"> <!-- We create a div for right-aligning menu options because float:right doesn't render properly on FF13 and some other browsers. -->
                    <a class="bannerlink" href="/account/">ACCOUNT</a>
                    {% if user.is_staff %}
                      <a class="bannerlink" href="/admin/">ADMIN</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a class="bannerlink" href="/account/logout/">LOGOUT</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="content">
            {% block content %}
                There's no content here!
            {% endblock %}
        </div>
    </body>
